@use "reset";
@use "variables";
@use "mixins";
@use "layout";
@use "typography";

// Global utilities that might not fit into modules
.lenis {
  &.lenis-smooth {
    scroll-behavior: auto !important;
  }
  &.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  &.lenis-stopped {
    overflow: hidden;
  }
  &.lenis-scrolling iframe {
    pointer-events: none;
  }
}
